<h1>{{title}}</h1>
<p>{{message}}</p>

<img src="/StudyMate/public/images/ancient-legionnaire-helmet-icon-logo-war-military-greek-gladiator-spartan-vector-illustration-52733651.webp" alt="StudyMate Logo" width="100">

<nav>
  <a href="/">Home</a> |
  <a href="/about">About</a> |
  <a href="/contact">Contact</a> |
</nav>