<h2>Welcome to My Portfolio</h2>
<p>Hi! I'm <strong>Abhinandh</strong>, passionate about web developer and photography.</p>
<p>Explore my work and learn more about me:</p>

<ul>
  <li><a href="/about">About Me</a></li>
  <li><a href="/projects">Projects</a></li>
  <li><a href="/contact">Contact Me</a></li>
</ul>